
/*
 #container { display:block; }

@media only screen and (orientation:portrait){

  #container {

    height: 100vw;

    -webkit-transform: rotate(90deg);

    -moz-transform: rotate(90deg);

    -o-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);

  }

}

@media only screen and (orientation:landscape){

  #container {

     -webkit-transform: rotate(0deg);

     -moz-transform: rotate(0deg);

     -o-transform: rotate(0deg);

     -ms-transform: rotate(0deg);

     transform: rotate(0deg);

  }

}
*/

@media (max-width: 576px) {
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 0px;
    padding-left: 0px;
  }
}


/*Bootstrap override*/
.thumbnail{
	background-color: transparent; 
	border: none; 
}

@font-face {
    font-family: "ONEDAY";
    src:url("../font/Oneday-Font/ONEDAY.ttf");
    src:url("../font/Oneday-Font/ONEDAY.otf");
}

@font-face {
    font-family: "KingBasil";
    src:url("../font/King-Basil-Lite-Free/King-Basil-Lite.otf");
}

@font-face {
    font-family: "PlaylistCaps";
    src:url("../font/Playlist-Font_pixelo/PlaylistCaps.otf");
}
@font-face {
    font-family: "PlaylistScript";
    src:url("../font/Playlist-Font_pixelo/PlaylistScript.otf");
}

@font-face {
    font-family: "girlNextDoor";
    src:url("../font/The_Girl_Next_Door/TheGirlNextDoor.ttf");
}


body{
	font-family: 'PlaylistCaps' !important;
	height:100%;
}

img#me_pic{
	max-height: 100%;
	max-width:100%;
	float: left;
}
.navbar-brand{
	color: black !important;
}

.navbar-fixed-top{
	border-width: 0px !important;
	margin-bottom: 0px !important;
}


/*Newly created*/
.girlNextDoorFont{
	font-family: 'girlNextDoor', cursive !important;
}
p{
	font-size: 1.2vw;
}

#collapseNav{
	box-shadow:none; 
  	border:none;
  	background-color: rgba(148, 51, 31, .3);
  	top: 50px;
  	position: inherit;
}

#topNav{	
	background-color: rgba(148, 51, 31, 0.5);
}



#navbarButton{
	height: 3vw;
	width:3vw;	
}

#footer{
	position: absolute;
	
}

#page1{	
	
}
#page1:after {
 
}
#page1_inner{
	position: relative;
	height: 100%;
}




#linkto{
	display: inline-flex;
}

/*
#cover_pic{	
	position: relative;
    display: inline-block;

}
#intro {
 position: absolute;    
    max-height: 100%;
    text-align: center;    
    width: 100%;
    z-index: 100;
    border-style: solid;

}
#intro:before{
	content: '';
   display: inline-block;
   max-height: 100%;
   vertical-align: middle;
}
#cover_pic img{	
	display: block;
	width: 100%;
	max-height: 50%;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#cover_pic:after {
content: "";
position: absolute;
display: block;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, .5) ;
z-index: 1;
}


*/
#page1_inner:after{
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url('../img/firstPage_dandelion_horizon.jpg');
    background-repeat: no-repeat;   
     background-position: center; 
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}



.page1_row1{
	min-height: 300px;
}
.page1_row2{
	min-height: 100px;
}
.page1_row1_col1{
	height: 100%;
	position: relative;

}
.page1_row1_col3{
	height: 100%;
	position: relative;
}

#aboutME_cell , #project_cell{
	width: 100%;
	max-height: 70%;
	
	position: absolute;
	display: flex;
  	align-items: center;
  	justify-content: center ;
}

#aboutME_cell{
	bottom: 0;
	background-color: rgba(159, 68, 18, 0.78);
}
#project_cell{
	top:0;
	background-color: rgba(148, 51, 31, 0.26);
}
#project_cell  img ,#aboutME_cell img, #skills_cell img {
	max-height: 100%;
	max-width: 100%;
	z-index: 100;   
	object-fit: contain;

}

.page1_row2_col2{
	height: 100%;
	position: relative;
}

#skills_cell{
	display: flex;
  	align-items: center;
  	justify-content: center ;
	background-color: rgba(148, 51, 31, 0.26);	
	max-height: 100%;
	width: 100%;
}



#page2 , #page3{
	background-color: gray;

}
#page2_inner{
	min-height: 200px;
	background-color: yellow;

}
#page3_inner{
	min-height: 200px;
	background-color: blue;
}

.red{
	background-color: rgba(255, 0, 0, 0.3);
}

.green{
	background-color: rgba(0, 255, 0, 0.3);
}
.blue{
	background-color: rgba(0, 0, 255, 0.3);
}