

.timeline{
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}


/*Year*/
.timeline ul li.year {
   list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: #fff;/*A vertical line*/
}
 
.timeline ul li.year::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}


/*Timeline Element Styles*/
.timeline ul li.year div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
}
 
.timeline ul li.year div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li.year:nth-child(odd) div {
  left: 45px;
  background: #F45B69;
}
 
.timeline ul li.year:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li.year:nth-child(even) div {
  left: -439px;
  background: #249cd8;
}
 
.timeline ul li.year:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #249cd8;
}